* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary: #ffb900;
  --font-heading: Sen, sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Common */
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.6rem;
}

.nav li.active a::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 6px;
  left: 21px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding-top: 56px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  position: absolute;
  width: 270px;
  padding: 28px 24px;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -0.02em;
}

.hero .desc {
  margin: 22px 0;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.cta-group .hero-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
